* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
}

/* a class for hide any element i want */
.hidden {
    display: none;
}

/* this class is for information boxes for how to use app sections */
.info-box {
    max-width: 900px;
    background-color: #f5f4f1;
    padding: 100px;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.info-content h3 {
    font-weight: bold;
}

.info-content h3,
p {
    color: #212529;
    font-weight: 600;
}


/* Location List */
.location-list {
    position: relative;
    width: 550px;
    height: 800px;
    background-color: #2d3436;
    padding: 40px;
    border-radius: 15px;
    z-index: 10;
}


.location-list-content {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.location-list-content div>p {
    padding: 0px 15px 0px 5px;
}

.location-list-content img {
    display: block;
    margin: auto;
    width: 15%;
    border-radius: 50%;
}


.run-color {
    background-color: #d1ccc0;
}

.bike-color {
    background-color: #CAD3C8;
}

/* map */
#map {
    width: 100%;
    height: 100%;
    background-color: #212529;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}


/* add location section */
.add-location {
    background-color: #F8EFBA;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: all 0.5s, transform 1ms;
}

.add-location select {
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    background-color: #2c2c30d0;
    transition: all 0.5s;
}

.add-location input {
    background-color: #2125296c;
    color: white;
    font-size: 12px;
    border: 2px solid #2c3a4783;
    border-radius: 3px;
    padding: 2px;
    transition: all 0.5s;
}

.add-location-btn {
    display: none;
}


.add-location input:focus {
    background-color: #CAD3C8;
    color: #2C3A47;
}


.add-location-hidden {
    transform: translateY(-480px);
    height: 0;
    padding: 0 36px;
    margin-bottom: 0;
    opacity: 0;
}



/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: #2d3439;
    color: #ececec;
    border-radius: 5px;
    padding-right: 10px;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: #2d3439;
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid #00c46a;
}

.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid #ffb545;
}