* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
}

/* a class for hide any element i want */
.hidden {
    display: none;
}

/* this class is for information boxes for how to use app sections */
.info-box {
    max-width: 900px;
    background-color: #f5f4f1;
    padding: 100px;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.info-content h3 {
    font-weight: bold;
}

.info-content h3,
p {
    color: #212529;
    font-weight: 600;
}


/* Location List */
.location-list {
    position: relative;
    width: 550px;
    height: 800px;
    background-color: #2d3436;
    padding: 40px;
    border-radius: 15px;
    z-index: 10;
}


.location-list-content {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.location-list-content div>p {
    padding: 0px 15px 0px 5px;
}

.location-list-content img {
    display: block;
    margin: auto;
    width: 15%;
    border-radius: 50%;
}


.run-color {
    background-color: #d1ccc0;
}

.bike-color {
    background-color: #CAD3C8;
}

/* map */
#map {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}